  /* CONTENEDOR */
  .mat-mdc-form-field {
    width: 100%;
    margin-bottom: 0; /* 🔥 eliminamos conflicto con gap */
  }

  /* WRAPPER */
  .mat-mdc-text-field-wrapper {
    height: 42px;
    padding: 0 12px;
    display: flex;
    align-items: center;
  }
  /* ALTURA GLOBAL CONSISTENTE */
  .mat-mdc-text-field-wrapper {
    height: var(--input-height);
    padding: 0 12px;
    display: flex;
    align-items: center;
  }

  /*  CONTENIDO INTERNO */
  .mat-mdc-form-field-flex {
    height: 100% !important;
    align-items: center !important;
  }

  /*  INPUT REAL */
  .mat-mdc-input-element {
    height: 100%;
    padding: 0 !important;
    display: flex;
    align-items: center;
  }

  /* BORDE NORMAL */
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--color-border);
  }

  /* HOVER */
  .mat-mdc-form-field:hover .mdc-notched-outline__leading,
  .mat-mdc-form-field:hover .mdc-notched-outline__notch,
  .mat-mdc-form-field:hover .mdc-notched-outline__trailing {
    border-color: var(--color-primary-light);
  }

  /* FOCUS */
  .mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
  .mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
  .mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
    border-color: var(--color-primary);
    border-width: 2px;
  }

  /* LABEL NORMAL */
  .mat-mdc-form-field .mdc-floating-label {
    color: #6b7280;
    font-weight: 500;
  }

  /* LABEL FOCUS */
  .mat-mdc-form-field.mat-focused .mdc-floating-label {
    color: var(--color-primary);
  }

  /* INPUT TEXT */
  .mat-mdc-input-element {
    color: var(--color-text);
    font-size: 14px;
  }

  /* PLACEHOLDER */
  .mat-mdc-input-element::placeholder {
    color: #9ca3af;
  }

  /* ERROR */
  .mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
  .mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
  .mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
    border-color: var(--color-danger);
  }

  /* LABEL ERROR */
  .mat-mdc-form-field.mat-form-field-invalid .mdc-floating-label {
    color: var(--color-danger);
  }

  /* HOVER EFFECT */
  .mat-mdc-text-field-wrapper:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }

  /* DISABLED */
  .mat-mdc-form-field.mat-form-field-disabled {
    opacity: 0.6;
  }
